
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.flex{
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
.name{
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
    font-size: 24px;
}
.resume{
    color: rgba(13, 19, 33, 1);
    font-size: 18px;
    background-color: white;
    border-radius: 6px;
    padding: 7px;
}

.bg-img{
    align-items: center;
    padding-top: 20px;
}
.navbar {
               
    justify-content: center;     
    align-items: center;    
    text-align: center;      
    background-image: url('./assets/Hero-bg.png');   
    height: 620px;   
   
}
.navbar-text{
            
    justify-content: center;     
    align-items: center;        
    text-align: center;  
        
     
}
.nav-title-text{
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
    font-size: 42px;
}
.contact{
    background-color:rgba(13, 19, 33, 1) ;
    color: white;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    margin-bottom: 20px;
    
   
}
a{
    border: none;
    text-decoration: none;
}
.p-text{
color: rgb(143, 142, 142);
    font-size: 16px;
font-weight: 500;
padding-bottom: 20px;
}
.main-contents{
    margin: 90px auto;
    background-color: rgb(246, 248, 251);
    padding: 10px;
    justify-content: center;     
    align-items: center;  
    max-width: 1200px;
  border-radius: 10px;
   
}
.p-text-code{
    color: rgb(143, 142, 142);
        font-size: 16px;
    font-weight: 500;
   
    }
.main-text{
    justify-content: center;     
    align-items: center;        
    text-align: center;     
}
.main-title-text{
    color: rgba(13, 19, 33, 1);
    font-weight: bolder;
    font-size: 25px;  
    
}
.main-content{
    margin:20px;
    margin-left: 135px;
    margin-right: 135px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;
   border-radius: 10px;
   
}
.main-content2{
    margin-top:20px;
    margin-left: 135px;
    margin-right: 135px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10px;
}
.main-content3{
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 135px;
    margin-right: 135px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main-content-heading{
    color:rgba(13, 19, 33, 0.7);
    font-weight: bolder;
    font-size: 19px;
    letter-spacing: 0.2ch;
    line-height: 0.7cm;
    margin: 0;
}
.main-content-text{
    color: rgba(13, 19, 33, 1);
    font-size: 13px;
    letter-spacing: 0.2ch;
    line-height: 0.5cm;
    padding-bottom: 10px;
}
.main-content-btn{
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 500; 
    letter-spacing: 0.1ch;
    border: 1px solid rgba(13, 19, 33, 1);
    background-color: white;
    padding: 5px 12px;
    margin-top: 10px;
}

.main-conten-img2{
    margin-top: 35px;
      
}
.video-container{
    justify-content: center;
    align-items: center;
    text-align: center;   
  border-radius: 10px;
    border: 1px solid black;
    margin-left: 135px;
    margin-right: 135px;
}

iframe{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px; 
}
.learn-more-btn-html {
    border: none; 
    border-bottom: 2px solid black; 
   font-weight: bold;
   color: black;
    font-size: 19px;
    background-color:rgb(251, 237, 237);
}
.learn-more-btn-css {
    border: none; 
    border-bottom: 2px solid black; 
   font-weight: bold;
    font-size: 19px;
    background-color: rgb(228, 233, 248);
    color: black;
}
.learn-more-btn-js {
    border: none; 
    
color: black;
    border-bottom: 2px solid black; 
   font-weight: bold;
    font-size: 19px;
    background-color: rgb(254, 248, 249);
}

.html-content{
    background-color:rgb(251, 237, 237);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
   height: 300px;
   width: 100%;
   max-width: 300px;
   padding: 20px;
}
.css-content{
    background-color: rgb(228, 233, 248);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
   height: 300px;
   width: 100%;
   max-width: 300px;
}
.java-content{
    background-color: rgb(254, 248, 249);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    width: 100%;
    max-width: 300px;
    
}
.react-content{
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 135px;
    margin-right: 135px;
    padding: 30px;
    background-color: white;
    display: flex;
   justify-content:center;
    align-items: center;
    border: 2px solid silver;
    border-radius: 10px;
}
.js-img{
    padding-right: 20px;
}
.learn-more {
    border: none; 
    border-bottom: 2px solid black; 
   font-weight: bold;
   color: black;
    font-size: 19px;
    background-color: white;
}

.search-content {
    max-width: 1230px;
    width: 100%; 
    height: 400px; 
    background-image: url('/assets/handshake.jpg');
    margin: 20px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border-radius: 10px;
}
.main-title-text-search{
    font-weight: bolder;
    font-size: 35px;  
    color: white;
}
.search-des{
    color: silver;
    font-size: 16px;
    font-weight: 600;

}
.input-field{
    width: 100%;
   padding: 15px;
    max-width: 450px;
   border: none; 
   border-radius: 10px;
background-color: rgb(252, 249, 249);
color: black;
font-size: 17px;
font-weight: 500;
}
.submit-btn{
    color: black;
    font-size: 20px;
    border: none;
    padding: 12px;
    background-color: white;
    border-radius: 7px;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 250, 250);
    padding: 15px;
   
    align-items: center;
    margin-bottom: 0px;
}
.footer-text{
font-size: 25px;
color: black;
font-weight: 600;
}

.footer-img{
    margin-right: 10px;
    margin-left: 10px;
}
.html-cs-js-content{
   
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 135px;
    margin-right: 135px;
   
    display: flex;
    justify-content:space-between;
    align-items: center;
}



